#homeBanner{
    height: 400px;
    background-image: url('https://images.unsplash.com/photo-1445205170230-053b83016050?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    background-size: cover;
}
p{
    text-align: justify;
    padding: 5px;
}
#title{
    color: #fff;
    margin-top: 150px;
}
#form{
    width: 250px;
}
#requestBoxes button{
    margin: 5px;
}